body {
  margin: 0 auto;
  width: 100%;
}

html {
}

img{
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}