.container{
  max-width: 1170px;
  min-width: 310px;
  margin: 0 auto;
  border: 0 solid #fff;
}

.btn{

  &:hover{

  }
}

.is-hidden{
  display: none;
}

.inline{
  display: inline-block;
}

.logo{
  
}

.title{
  
}